:root {
  --main-bg-color: #86A8E7;
  --main-text-color: #fff;
  --user-icon-color: #D16BA5;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius) !important;
  --bs-nav-pills-link-active-color: var(--main-text-color) !important;
  --bs-nav-pills-link-active-bg: var(--main-bg-color) !important;
}

a {
  color: inherit !important;/* Inherit color from the parent */
  text-decoration: none !important;/* Remove underline */
}

body {
  background-color: var(--main-bg-color);
}

.user-icon {
  color: var(--user-icon-color);
}
.row {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}