<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribution Centers</title>
</head>
<body>
    <h1>Distribution Centers</h1>

    <form action="/search" method="post">
        <input type="hidden" name="table_name" value="distribution_centers">
    
        <!-- Place the submit button at the top -->
        <div>
            <input type="submit" value="Search">
        </div>
    
        <table border="1">
            <!-- Table Headers and other rows... -->
            <tr>
                <td><input type="text" name="input1" placeholder="Id"></td>
                <td><input type="text" name="input2" placeholder="Name"></td>
                <td><input type="text" name="input3" placeholder="Latitude"></td>
                <td><input type="text" name="input4" placeholder="Longitude"></td>
            </tr>
            
             {% for center in centers[0] %}
            <tr>
                <td>{{ center[0] }}</td>
                <td>{{ center[1] }}</td>
                <td>{{ center[2] }}</td>
                <td>{{ center[3] }}</td>
            </tr>
            {% endfor %} 
        </table>
    </form>
    
    

</body>
</html>
