<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <h1>Events</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Sequence Number</th>
            <th>Session ID</th>
            <th>Created at</th>
            <th>IP Adress</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Browser</th>
            <th>Traffic Source</th>
            <th>URI</th>
            <th>Event Type</th>
        </tr>
        {% for center in centers %}
            <tr>
                <td>{{ center[0] }}</td>
                <td>{{ center[1] }}</td>
                <td>{{ center[2] }}</td>
                <td>{{ center[3] }}</td>
                <td>{{ center[4] }}</td>
                <td>{{ center[5] }}</td>
                <td>{{ center[6] }}</td>
                <td>{{ center[7] }}</td>
                <td>{{ center[8] }}</td>
                <td>{{ center[9] }}</td>
                <td>{{ center[10] }}</td>
                <td>{{ center[11] }}</td>
                <td>{{ center[12] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
