<!DOCTYPE html>
<html>
<head>
    <title>Management System</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Inventory Management System</h1>
        <div class="menu">
            <a href="/inventory_items">Inventory Items</a>
            <a href="/users">Users</a>
            <a href="/distribution-centers">Distribution Centers</a>
            <a href="/events">Events</a>
            <a href="/products">Products</a>
            <a href="/order_items">Order Items</a>
            <a href="/orders">Orders</a>
        </div>
    </div>
</body>
</html>
