<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Items</title>
</head>
<body>
    <h1>Inventory Items</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Product ID</th>
            <th>Created at</th>
            <th>Sold at</th>
            <th>Cost</th>
            <th>Product Category</th>
            <th>Product Name</th>
            <th>Product Brand</th>
            <th>Product Retail Price</th>
            <th>Product Department</th>
            <th>Product SKU</th>
            <th>Product Distribution Center ID</th>
        </tr>
        {% for center in centers[0] %}
            <tr>
                <td>{{ center[0] }}</td>
                <td>{{ center[1] }}</td>
                <td>{{ center[2] }}</td>
                <td>{{ center[3] }}</td>
                <td>{{ center[4] }}</td>
                <td>{{ center[5] }}</td>
                <td>{{ center[6] }}</td>
                <td>{{ center[7] }}</td>
                <td>{{ center[8] }}</td>
                <td>{{ center[9] }}</td>
                <td>{{ center[10] }}</td>
                <td>{{ center[11] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
