<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Status</th>
            <th>Gender</th>
            <th>Created at</th>
            <th>Returned at</th>
            <th>Shipped at</th>
            <th>Delivered at</th>
            <th>Num of Item</th>
        </tr>
        {% for center in centers[0] %}
            <tr>
                <td>{{ center[0] }}</td>
                <td>{{ center[1] }}</td>
                <td>{{ center[2] }}</td>
                <td>{{ center[3] }}</td>
                <td>{{ center[4] }}</td>
                <td>{{ center[5] }}</td>
                <td>{{ center[6] }}</td>
                <td>{{ center[7] }}</td>
                <td>{{ center[8] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
