<!DOCTYPE html>
<html>
  <head>
    <title>Order Items</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header
      class="d-flex flex-stratch justify-content-center py-3 mb-4 text-bg-dark fixed-top"
      style="margin-bottom: 6.5rem"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <i class="fa-solid fa-table-cells user-icon px-5 fs-1"></i>
        <span class="text-white fs-4">Order Items Table</span>
      </a>

      <ul class="nav nav-pills px-5">
        <li class="nav-item">
          <a href="/" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
      </ul>
    </header>

    <div class="container" style="margin-top: 6.5rem">
      <div class="row">
        <form class="row">
          {% for column in centers[1] %}
          <div class="col">
            <label for="{{ column.column_name }}"
              >{{ column.column_name }}</label
            >
            <input
              type="column.column_type"
              class="form-control"
              id="{{ column.column_name }}"
              placeholder="{{ column.column_name }}"
            />
          </div>
          {% endfor %}
        </form>
      </div>
      <div class="row">
        <table
          class="table table-striped table-hover"
          style="margin-top: 1.5rem"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Order ID</th>
              <th scope="col">User ID</th>
              <th scope="col">Product ID</th>
              <th scope="col">Inventory Item ID</th>
              <th scope="col">Status</th>
              <th scope="col">Created at</th>
              <th scope="col">Shipped at</th>
              <th scope="col">Delivered at</th>
              <th scope="col">Returned at</th>
              <th scope="col">Sale Price</th>
            </tr>
          </thead>
          <tbody>
            {% for center in centers[0] %}
            <tr>
              <td><input type="radio" name="selectRow" /></td>
              <td>{{ center[0] }}</td>
              <td>{{ center[1] }}</td>
              <td>{{ center[2] }}</td>
              <td>{{ center[3] }}</td>
              <td>{{ center[4] }}</td>
              <td>{{ center[5] }}</td>
              <td>{{ center[6] }}</td>
              <td>{{ center[7] }}</td>
              <td>{{ center[8] }}</td>
              <td>{{ center[9] }}</td>
              <td>{{ center[10] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Get all the rows in the table body
        var rows = document.querySelectorAll("tbody tr");

        // Add click event listener to each row
        rows.forEach(function (row) {
          row.addEventListener("click", function () {
            // Get data from the clicked row
            var rowData = Array.from(row.children).map(function (cell) {
              return cell.textContent.trim();
            });

            // Log the selected row data to the console
            console.log("Selected Row Data:", rowData);
          });
        });
      });
    </script>
  </body>
</html>
