<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Cost</th>
            <th>Category</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Retail Price</th>
            <th>Department</th>
            <th>SKU</th>
            <th>Distribution Center ID</th>
        </tr>
        {% for center in centers %}
            <tr>
                <td>{{ center[0] }}</td>
                <td>{{ center[1] }}</td>
                <td>{{ center[2] }}</td>
                <td>{{ center[3] }}</td>
                <td>{{ center[4] }}</td>
                <td>{{ center[5] }}</td>
                <td>{{ center[6] }}</td>
                <td>{{ center[7] }}</td>
                <td>{{ center[8] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
