body {
    font-family: Arial, sans-serif;
    margin: 70px;
}

.container {
    width: 80%;
    margin: auto;
}

.menu {
    padding: 20px;
}

.menu a {
    margin-right: 20px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu a:hover {

}
