<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>e-Mail</th>
            <th>Age</th>
            <th>Gender</th>
            <th>State</th>
            <th>Street Adress</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longtitude</th>
            <th>Traffic Source</th>
            <th>Created at</th>
        </tr>
        {% for center in centers[0] %}
            <tr>
                <td>{{ center[0] }}</td>
                <td>{{ center[1] }}</td>
                <td>{{ center[2] }}</td>
                <td>{{ center[3] }}</td>
                <td>{{ center[4] }}</td>
                <td>{{ center[5] }}</td>
                <td>{{ center[6] }}</td>
                <td>{{ center[7] }}</td>
                <td>{{ center[8] }}</td>
                <td>{{ center[9] }}</td>
                <td>{{ center[10] }}</td>
                <td>{{ center[11] }}</td>
                <td>{{ center[12] }}</td>
                <td>{{ center[13] }}</td>
                <td>{{ center[14] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
